.header {
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: gray;
  z-index: 100;
}

.menu {
  float: left;
  padding: 1% 5%;
  height: 40px;
}

.searchBar {
  width: 80%;
}

.body {
  text-align: center;
  padding-top: 120px;
  height: 1000px;
}

.switch > div {
  display: inline;
  padding: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.section {
  width: 40%;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.icon {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 15%;
}

.droneName {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.date {
  text-align: left;
}

.circle {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15%;
  right: 5%;
  background-color: gray;
  border-radius: 50px;
  text-align: center;
}

.addIcon {
  padding: 20px;
  height: 20px;
  width: 20px;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  text-align: center;
  padding: 14px 0;
}

.navicon {
  width: 10%;
  margin-right: 10%;
  margin-left: 10%;
}
