
.header {
  background-color: black;  
  color: white;
  text-align: center;
}
.switch {
  text-align: center;
}

.image {
position: absolute;
width: 200px;

}

.section {
  position: fixed;
}
.icon, .droneName, .date {
  position: relative;
}

.icon {
  left: 0px;
}

.body {
  background-color: #1E222B;
}
.navbar {
 position: absolute;
 bottom: 0; 
 background-color: black;
}
